---
import Layout from "../layouts/Layout.astro";
import Content from "../layouts/Content.astro";
---

<Layout title="Welcome to Astro.">
  <main class="text-black">Test Page</main>
</Layout>

<style></style>
