---
import Logo from "../components/Logo.astro";
import pages from "../pages";
---

<div
  class="h-[100px] w-[100vw] bg-white flex justify-center items-center flex-shrink-0 self-stretch"
>
  <div
    class="max-w-[1440px] min-w-[700px] flex justify-between items-center flex-1"
  >
    <Logo />
    <div class="flex items-center gap-[60px] mr-[20px]">
      <div class="flex items-center gap-[60px]">
        {
          pages.map((item) => (
            <>
              <a
                class="flex justify-center items-center text-sm font-normal text-menu-color cursor-pointer"
                href={item.link}>
                {item.name}
              </a>
            </>
          ))
        }
        <!-- <div
          class="flex justify-center items-center text-sm font-normal text-menu-color cursor-pointer"
        >
          菜單1
        </div>
        <div
          class="flex justify-center items-center text-sm font-normal text-menu-color cursor-pointer"
        >
          菜單1
        </div>
        <div
          class="flex justify-center items-center text-sm font-normal text-menu-color cursor-pointer"
        >
          菜單1
        </div>
        <div
          class="flex justify-center items-center text-sm font-normal text-menu-color cursor-pointer"
        >
          菜單1
        </div>
        <div
          class="flex justify-center items-center text-sm font-normal text-menu-color cursor-pointer"
        >
          菜單1
        </div> -->
      </div>
    </div>
  </div>
</div>
<style></style>
