---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Content from "./Content.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="w-[100vw] h-[100vh]">
  <head class="bg-white">
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-[100vw] flex flex-col items-center">
    <Header />
    <Content />
    <Footer />
  </body>
</html>
<style is:global></style>
